body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.radarTitle {
  font-size: 30px;
  font-weight: bold
}

.radarTitle:hover {
  text-decoration: underline;
}

.radarDate {
  font-size: 16px;
}

.radarFooter {
  font-size: 13px;
}

.quadrantHeader {
  font-size: 18x;
  font-weight: bold;
}

.ringtext {
  font-size: 12x;
  font-weight: bold;
}

.blip-icon {
  text-anchor: middle;
  font-weight: lighter;
}

.blip-legend {
  font-size: 12px;
  fill: black;
}


.blipLink {
  stroke: none;
  pointer-events: all;
}
.blipLink:hover { 
  stroke: red;
}