body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.radarTitle {
  font-size: 30px;
  font-weight: bold
}

/* .radar:hover .blip-icon{
  fill: red;
  border:2px solid #333;
}

.radar:hover .blip-legend-text{
  fill: red;
  border:2px solid #333;
} */

.radarTitle:hover {
  text-decoration: underline;
}

.radarDate {
  font-size: 16px;
}

.radarFooter {
  font-size: 13px;
}

.quadrantHeader {
  font-size: 18x;
  font-weight: bold;
}

.ringtext {
  font-size: 12x;
  font-weight: bold;
}

.blip-icon {
  /* pointer-events: all; */
  text-anchor: middle;
  /* user-select: none; */
  font-weight: lighter;
}

/* g[class^="blip-"] *:hover {
  fill: red;
  font-weight: bolder;
} */

/* .tech-radar:hover #legendItem67, .tech-radar:hover #blip67 {
  fill: red;
  font-weight: bolder;
} */

/* .tech-radar ~ .blip-legend-text:hover #legendItem67, .tech-radar:hover #blip67 {
  fill: red;
  font-weight: bolder;
} */

/* .blip-highlight-67:hover  {
  font-weight: bolder;
  fill: red;
} */

.tech-radar .blip-highlight-67:hover  {
  font-weight: bolder;
  fill: red;
}

/* .tech-radar:hover .blip-legend-text#legendItem67:hover {
  font-weight: bolder;
} */

/* .blip-icon:hover  {
  fill: white;
  font-weight: bolder;
} */

.blip-legend {
  font-size: 12px;
  fill: black;
}


/* .blip-legend-text *:hover { 
  fill: red;
} */

.blipLink {
  stroke: none;
  pointer-events: all;
}
.blipLink:hover { 
  stroke: red;
}